<h2>Location Details Page</h2>

<h4>Address: {{location.address}}</h4>

<h5>
    {{location.city}}, {{location.state}} - {{location.zip}}
</h5>


<br>
<h2>Animals At This Location</h2>
{{#each location.animals}}
<div>
    {{name}} - {{species}}

    <a href="/animals/details/{{this.id}}"></a>
</div>
{{/each}}


